.square{
    width: 3rem;
    height: 3rem;
    border: 1px solid black;
    display: block;
    transition: all 0.1s ease;
}

#gameboardPlayer, #gameboardComputer{
    width: 30rem;
    height: 30rem;
}